body{
  background-color: #eaf6f6;
}

hr{
  border-style: none;
  background-color: none;
  border-top: 10px dotted gray;
  height: 0px;
  width: 10%;
}

h1{
  color: #66bfbf;
}

h3{
  color: #66bfbf;
}
